doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        include ../pug_includes/titleTV.pug

        include ../pug_includes/css/core.pug

        // Page level plugin CSS
        link(href='vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')

        include ../pug_includes/css/custom.pug

    body#page-top.fixed-nav.sticky-footer.bg-dark
        div(class="modal fade" id="edit" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true"
            style="position:fixed;top:20%")
            div(class="modal-dialog")
                div(class="modal-content")
                    div(class="modal-header")
                        h4(class="modal-title" id="info-dialog-title")
                        select(id="selectPage" onchange="listChange(this.options[this.options.selectedIndex].value)")
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                    div( id="edit_inputs" class="modal-body")
        div(class="modal fade" id="edit2" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true"
            style="position:fixed;top:20%")
            div(class="modal-dialog")
                div(class="modal-content")
                    div(class="modal-header")
                        h4(class="modal-title" id="info-dialog-title2") 样式选择
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                    div
                        label 选择颜色：&nbsp&nbsp&nbsp
                        span(class="btn btn-outline-danger" style="width:80;height:30px;" onclick="changebackcolor('1')") 黑色系
                        span &nbsp&nbsp&nbsp
                        span(class="btn btn-outline-danger"  style="width:80;height:30px;" onclick="changebackcolor('2')") 白色系
                        span &nbsp&nbsp&nbsp
                        span(class="btn btn-outline-danger"  style="width:80;height:30px;" onclick="changebackcolor('3')") 背景
                        span &nbsp&nbsp&nbsp
                        span(class="btn btn-outline-danger"  style="width:80;height:30px;" onclick="changebackcolor('4')") 绿色系
                    div
                        span &nbsp&nbsp&nbsp
                    div
                        label 字体样式：&nbsp&nbsp&nbsp
                        span(class="btn btn-outline-danger"  style="width:80;height:30px;" onclick="changefamily('1')") serif
                        span &nbsp&nbsp&nbsp
                        span(class="btn btn-outline-danger"  style="width:80;height:30px;" onclick="changefamily('2')") 雅黑
                        span &nbsp&nbsp&nbsp
                        span(class="btn btn-outline-danger"  style="width:80;height:30px;" onclick="changefamily('3')") sptimes
                        span &nbsp&nbsp&nbsp
                        span(class="btn btn-outline-danger"  style="width:80;height:30px;" onclick="changefamily('4')") arial
                    div
                        span &nbsp&nbsp&nbsp
                    div
                        label 大小：&nbsp&nbsp&nbsp
                        span(class="btn btn-outline-danger"  style="width:80;height:30px;" onclick="changeSize(1)") 12
                        span &nbsp&nbsp&nbsp
                        span(class="btn btn-outline-danger"  style="width:80;height:30px;" onclick="changeSize(2)") 14
                        span &nbsp&nbsp&nbsp
                        span(class="btn btn-outline-danger"  style="width:80;height:30px;" onclick="changeSize(3)") 16
                        span &nbsp&nbsp&nbsp
                        span(class="btn btn-outline-danger"  style="width:80;height:30px;" onclick="changeSize(4)") 18
                        span &nbsp&nbsp&nbsp
                        span(class="btn btn-outline-danger"  style="width:80;height:30px;" onclick="changeSize(5)") 20
                        span &nbsp&nbsp&nbsp  
                        span(class="btn btn-outline-danger"  style="width:80;height:30px;" onclick="changeSize(6)") 22
     
   

        include ../pug_includes/navbar.pug
        .content-wrapper(id="styles")
            .container-fluid 
            ol
            div(style="padding-left:20px;padding-right:10px;")
                    label(id="showTip")
                    div(id="divSelect")
                    div(id="divProduct" style="padding-top:30px;padding-bottom:30px;")

include ../pug_includes/footer.pug

include ../pug_includes/scroll-to-top.pug

include ../pug_includes/modals/logout.pug

include ../pug_includes/js/core.pug

// Page level plugin JavaScript
script(src='vendor/datatables/jquery.dataTables.js')
script(src='vendor/datatables/dataTables.bootstrap4.js')

include ../pug_includes/js/custom.pug


// Custom scripts for this page
script(src='js/sb-admin-datatables.min.js')
script(src='js/sb-admin-datatables.min.js')
script(src="js/DataProvider.js")
script(src="js/FileResder.js")
script(src="js/UtilBook.js")
script.

    var btn = document.getElementById('btnGet');
    var lbl = document.getElementById('showTip');
    var divProduct= document.getElementById('divProduct');
    var divSelect= document.getElementById('divSelect');

    var ASNICode = document.getElementById('ASNICode');
    var ASNIModel = document.getElementById('ASNIModel');
    var SalsesRank = document.getElementById('SalsesRank');
    var Dimensions = document.getElementById('Dimensions');
    // document.getElementsByClassName('navbar-brand')[0].innerText = "看美剧";
    var key;
    var platform = '0';
    var titletxt = '0';
    var mylink;
    init();
    function init(){
      
        key=getQueryString("key");
        platform= getQueryString('platform');
        mylink = getQueryString("link");
        titletxt = this.getTitle("title");


        initTitle(document.getElementsByClassName('navbar-brand')[0], platform,titletxt);
        initTitle(document.getElementById('titletv'),platform,titletxt);
        showInfo(1);
        getinfo(mylink,titletxt,platform);

        $('#edit').modal('show');

        //顶部添加目录按钮
        var topdiv = document.getElementsByClassName('navbar-brand')[0];
        var btnmulu = document.createElement("button");
        btnmulu.innerText = "目录";
        btnmulu.setAttribute("id", "btnmulu");
        btnmulu.setAttribute("onclick", "$('#edit').modal('show')");
        btnmulu.setAttribute("class", "btn btn-primary");
        topdiv.appendChild(btnmulu);

        var btnsearch = document.createElement("button");
        btnsearch.innerText = "返回";
        btnsearch.setAttribute("onclick", " window.location.href='/cms/book_online_search.html'");
        btnsearch.setAttribute("id", "btnmulu11");
        btnsearch.setAttribute("class", "btn btn-secondary");
        topdiv.appendChild(btnsearch);



        //======
        var colorid =localStorage.getItem("colorid");
        var sizeid =localStorage.getItem("sizeid");
        var familyid =localStorage.getItem("familyid");
        if(!colorid)colorid="2";
        if(!sizeid)sizeid="4";
        if(!familyid)familyid="3";
        changebackcolor(colorid);
        changefamily(familyid)
        changeSize(sizeid);

        //=======
        var lk1 =localStorage.getItem("link"+mylink);
        var tt1 =localStorage.getItem("tt"+mylink);
      
        if(lk1&&tt1 ){//&&link.indexOf(ll)!=-1){
                getBookInfo(lk1,tt1);
        }



    }
    function getinfo(link,title,pf){
        var obj = {link: link, title: title, platform: pf};
        this.searchData("/getBookChapterData", JSON.stringify(obj), "刷新成功", showInfo,this.showProduct);
    }

    function showInfo(t){
        switch (t){
            case 0:
                lbl.textContent = "数据加载中!";
                break;
            case 1:
                lbl.textContent = "getting data please wait!";
                break;
            case 2:
                lbl.textContent = "I'm ready!";
                break;
        }

    }
    function showMv(d) {
        lbl.textContent = "正在获取播放资源!"
        var data = d.data;
        var tv = document.getElementById('divSee');
        tv.innerHTML = data.playContent;
    }
    function showProduct(d,ty) {
        if(ty=="1"){
            showMv(d)

        }else{

            showChapterList(d);
        }
    }
    function onSeeMV(link, title,from) {
        window.location.href = '/cms/movie_online_see.html?platform='+platform+'&&link=' + link + "&&title=" + title+ "&&from=" +from+"&&key="+key;
    }
   
    function listChange(vv) {
        getinfo(vv, titletxt, platform);
       
    }
    function changestyle(){
        $('#edit2').modal('show');
    }

