doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    include ../pug_includes/title.pug

    include ../pug_includes/css/core.pug

    // Page level plugin CSS
    link(href='vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')

    include ../pug_includes/css/custom.pug


  //----------------------------
  body#page-top.fixed-nav.sticky-footer.bg-dark
    div(class="modal fade" id="edit" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true"
    style="position:fixed;top:20%")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            h4(class="modal-title" id="info-dialog-title")
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
          div( id="edit_inputs" class="modal-body")
          div( class="modal-footer text-center")
            button(type="button" data-dismiss="modal" class="btn btn-outline-danger" id="btn-delete") 删除
              button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
              button(type="button" data-dismiss="modal" class="btn btn-warning" id="btn-add") 添加
              button(type="button" data-dismiss="modal" class="btn btn-primary" id="btn-edit") 提交修改



    include ../pug_includes/navbar.pug
    .content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item
            div(id='divTitle') 实时数据

          li.breadcrumb-item.active <Tables></Tables>
        // Example DataTables Card
        .card.mb-3
          .card-header
            i.fa.fa-table
            |在线玩家
            div(id ="divInfo")


          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                thead
                  tr
                    //-var dataarr = ["房间","鱼潮","用户id","状态","昵称","金币","红包","鱼池","online_gold_gain","online_room_time","rate_time","gold_fire_level","gold_in_fire_level","gold_fire_percent","rate_fire","gold_in_user_level","gold_userLevel_percent","rate_userLevel","gold_level","gold_in_level","gold_percent","rate_room","rate_all"];
                    -var dataarr = ["用户id", "所在服务器"];
                      each val in dataarr
                          th=val
                tfoot
                  tr
                      each val in dataarr
                          th=val
                tbody

          .card-footer.small.text-muted
            | Updated yesterday at 11:59 PM
      // /.container-fluid
      // /.content-wrapper

      include ../pug_includes/footer.pug

      include ../pug_includes/scroll-to-top.pug

      include ../pug_includes/modals/logout.pug

      include ../pug_includes/js/core.pug

      // Page level plugin JavaScript
      script(src='vendor/datatables/jquery.dataTables.js')
      script(src='vendor/datatables/dataTables.bootstrap4.js')

      include ../pug_includes/js/custom.pug


      // Custom scripts for this page
      script(src='js/sb-admin-datatables.min.js')
script(src='js/sb-admin-datatables.min.js')
script(src="js/DataProvider.js")
script(src="js/FileResder.js")
script.
    //setColums(["roomId","waveId","userId","isalive","nickName","userGold","redpkg","pool_type","online_gold_gain",
    //    "online_room_time","rate_time",
    //    "gold_fire_level","gold_in_fire_level","gold_fire_percent","rate_fire",
    //  "gold_in_user_level","gold_userLevel_percent","rate_userLevel",
    //  "gold_level","gold_in_level","gold_percent","rate_room","rate_all"]);
    setColums(["userId", "serverKey"]);
    var myurl = "/cms/table_user_online_info.html";
    // var tableName = "SysConfig";
    // var fixData = {tableName:tableName};
    showHead();
    function showHead()
    {
        var str= "/玩家在线情况";

        $('#divTitle').append(str);
    }

    initURL("/tableGetUserOnline","/--","/--","/--");
    // addInputs(1);00
    loadData({});
    getOnlineInfo();
    function getOnlineInfo(){
        $.ajax({
            url: "/getServerOnlineInfo",
            data: {},
            type: 'post',
            cache: false,
            dataType: 'json',
            success: function (data) {
                if (data.error == 0) {
                    var str = "<div><span>" + data.data + "</span></div>";
                    $('#divInfo').append(str);
                } else if (data.error == 401) {
                    notLogin(data);
                } else {
                    showAlert('错误，请稍后重试');
                }
            },
            error: function () {
                showAlert('错误，请稍后重试');
            }
        });
    }