doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    include ../pug_includes/title.pug

    include ../pug_includes/css/core.pug

    // Page level plugin CSS
    link(href='vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')

    include ../pug_includes/css/custom.pug


  //----------------------------
  body#page-top.fixed-nav.sticky-footer.bg-dark
    div(class="modal fade" id="edit" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true"
    style="position:fixed;top:20%")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            h4(class="modal-title" id="info-dialog-title")
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
          div( id="edit_inputs" class="modal-body")
          div( class="modal-footer text-center")
            button(type="button" data-dismiss="modal" class="btn btn-outline-danger" id="btn-delete") 删除
              button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
              button(type="button" data-dismiss="modal" class="btn btn-warning" id="btn-add") 添加
              button(type="button" data-dismiss="modal" class="btn btn-primary" id="btn-edit") 提交修改



    include ../pug_includes/navbar.pug
    .content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item
            div(id='divTitle' )
              i.fa-2x
              |禁止登陆玩家列表--
            div
                span 踢出玩家理由：
                input(id="txtkickinfo",type="text")
                pan [--]
                button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="killUserOnline()") 踢出所有在线用户
            div
                pan [--]
                button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="updateBan()") 生效(用于解封或加封-封号推荐用踢出)
            div
                pan [--]
            div
              span 踢出玩家id：
              input(id="txtuid",type="text")
              pan [--]
              span 是否加入黑名单(1加入)：
              input(id="txtban",type="text")
              pan [--]
              span 踢出理由：
              input(id="txtwhy",type="text")
              button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="kickPlayer()") 踢出(封号)玩家

          li.breadcrumb-item.active <Tables></Tables>
        // Example DataTables Card
        .card.mb-3
          .card-header
            i.fa.fa-table
            |禁止登陆用户列表

          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                thead
                  tr
                    -var dataarr = ["序号","用户id","原因","创建时间"];
                      each val in dataarr
                          th=val
                tfoot
                  tr
                      each val in dataarr
                          th=val
                tbody

          .card-footer.small.text-muted
            | Updated yesterday at 11:59 PM
      // /.container-fluid
      // /.content-wrapper

      include ../pug_includes/footer.pug

      include ../pug_includes/scroll-to-top.pug

      include ../pug_includes/modals/logout.pug

      include ../pug_includes/js/core.pug

      // Page level plugin JavaScript
      script(src='vendor/datatables/jquery.dataTables.js')
      script(src='vendor/datatables/dataTables.bootstrap4.js')

      include ../pug_includes/js/custom.pug


      // Custom scripts for this page
      script(src='js/sb-admin-datatables.min.js')
script(src='js/sb-admin-datatables.min.js')
script(src="js/DataProvider.js")
script(src="js/FileResder.js")
script.
    var myurl = "/cms/fish_out_tables.html?";
    var tableName = "PlayerBan";
    var fixData = {tableName:tableName};
    setColums(["id","ban_id","info","create_time"]);





    initURL("/tableGet","/intemUpdate","/itemDelete","/itemAdd");

    addInputs(1);
    loadData(this.fixData);




    function updateBan(){
        $.ajax({
            url: "/updateBan",
            data: {},
            type: 'post',
            cache: false,
            dataType: 'json',
            success: function (data)
            {
                if (data.error == 0)
                    {
                        showAlert(data.message);
                    }else{
                        showAlert(data.message);
                    }
            },
            error: function () {
                showAlert('错误，请稍后重试');
            }
        });
    }
    function killUserOnline() {
        var kickinfo = $('#txtkickinfo')[0].value;
        this.action("/killUserOnline", {kickinfo:kickinfo}, "刷新成功");
    }
    function kickPlayer() {
        var uid = $('#txtuid')[0].value;
        var ban = $('#txtban')[0].value;
        var why = $('#txtwhy')[0].value;
        this.action("/kickPlayer", {uid:uid,ban:ban,why:why}, "刷新成功");
    }
    function action(url, data, msg) {
        $.ajax({
            url: url,
            data: data,
            type: 'post',
            cache: false,
            dataType: 'json',
            success: function (data) {
                if (data.error == 0) {
                    showAlert(data.message);
                } else if (data.error == 401) {
                    showAlert('错误，请稍后重试');
                } else {
                    showAlert('错误，请稍后重试');
                }
            },
            error: function () {
                showAlert('错误，请稍后重试');
            }
        });
    }




